<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzx.mapper.IndexMapper">
    <select id="selectSingleQuestion" resultType="Question">
        select * from s_choice;
    </select>
    <select id="selectManyQuestion" resultType="Question">
        select * from m_choice;
    </select>
    <select id="selectJudgeQuestion" resultType="Question">
        select * from s_judge;
    </select>
</mapper>
