<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzx.mapper.SingleMapper">
    <insert id="insertData" parameterType="Question">
      insert into s_choice (id,title,A,B,C,D,answer,unit)
      values(null,#{title},#{A},#{B},#{C},#{D},#{answer},#{unit})
    </insert>
    <select id="selectAllData" resultType="Question">
    select * from s_choice;
    </select>
    <select id="countAllQuestion" resultType="Integer">
        select count(*) from s_choice;
    </select>
    <insert id="insertChapter" parameterType="Integer">
        insert into s_chapter values (null,#{unit});
    </insert>

</mapper>
